/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 7px;
  background: #2B3648;
}

body::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #1976D2;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #212936;
  padding: 6px 14px;
  z-index: 3;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details img {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: white;
  font-size: 20px;
  font-family: "Manrope";
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details img,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  color: white;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #56657F;
  height: 50px;
  min-width: 50px;
  font-size: 100px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  /* z-index: 3; */
  background: white;
  box-shadow: 0 5px 10px #55A5E9;
  padding: 6px 12px;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: black;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: white;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: white;
  color: black;
}

.sidebar.open .bx-search:hover {
  background: white;
  color: black;
}

.sidebar .bx-search:hover {
  background: white;
  color: black;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #212936;
}

.sidebar li a:hover {
  background: #2B3648;
}

.sidebar li a .links_name {
  color: #56657F;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto";
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #1976D2;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}
.sidebar.open~.section-pedidos {
  left: 250px;
  width: calc(100% - 250px);
}

.sections .containerHeader {
  line-height: center;
}

.sections .containerHeader .text {
  font-family: "Mulish";
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  color: white;
  top: 45px;
  margin: 0px 30px 50px 30px;
  position: absolute;
}

.sections .containerHeader .devider {
  background-color: white;
  position: absolute;
  margin: 0px 10px 0px 50px;
  top: 50px;
  left: 645px;
  width: 2px;
  height: 30px;
}

.containerHeader .userItem {
  position: absolute;
  top: 50px;
  left: 720px;
  margin: 0px 15px 0px 0px;
}

.containerHeader h1 {
  font-family: "Mulish";
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.containerHeader .userimg {
  position: absolute;
  top: 52px;
  left: 815px;
  height: 40px;
  width: 40px;
  margin: -6px 0px;
  z-index: 5;
}

.userimg img {
  height: 40px;
  width: 40px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border: 2px solid white;
}
.sidebar.open~.section-pedidos {
  left: 250px;
  width: calc(100% + 250px);
}

.sidebar.open~.section-clientes {
  left: 250px;
  width: calc(100% - 250px);
}

.section-pedidos {
  position: relative;
  background: #2B3648;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.section-clientes {
  position: relative;
  background: #2B3648;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

.section-campañas {
  position: relative;
  background: #2B3648;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

.section-consultoras {
  position: relative;
  background: #2B3648;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

.section-nosotros {
  position: relative;
  background: #2B3648;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
}

.sections .contain-pedidos {
	width: 20%;
}

.sections .btn-div {
  float: left;
  background-color: #212936;
	width: 145px;
	height: 130px;
  border-radius: 10px;
  margin: 115px 0px 0px 25px;
  cursor: pointer;
}
.box-icon {
  position: absolute;
  font-size: 80px;
  color: #56657F;
  text-align: center;
  margin: 10px 30px;
}
.sections .btn-div p {
  position: relative;
  top: 100px;
  font-size: 17px;
  color: #56657F;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}

.sections .btn-div:hover {
  float: left;
  background-color: #1976D2;
  width: 148px;
  height: 133px;
  border-radius: 10px;
  margin: 113px 0px 0px 22px;
  transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
}
.sections .btn-div:hover .box-icon,
.sections .btn-div:hover p {
  transition: all 0.5s ease;
  color: #FFFFFF;
}


.contain_section {
  width: 20.35%;
	float: left;
}

.box-section {
  background-color: #212936;
	width: 145px;
	height: 130px;
  border-radius: 10px;
  margin: 115px 0px 0px 40px;
}
.box_cart {
  font-size: 70px;
  color: #56657F;
  padding: 20px 35px 0px 30px;
}
.iconify {
  font-size: 110px;
  color: #56657F;
  padding-left: 25px;
  margin-top: -17px;
  padding: 10px 12px 0px 48px;
}    
.box-section .number {
  color: #56657F;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 400;
  padding: 0px 10px 0px 16px;
  text-align: center;
} 
.box-section p {
  font-size: 14px;
  color: #56657F;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  padding: 12px 10px 1px 17px;
  margin-top: -20px;
  text-align: center;
}

.sections .section-consultoras .btn-div_consult {
  float: left;
  background-color: #212936;
	width: 148px;
	height: 133px;
  border-radius: 10px;
  margin: 115px 0px 0px 27px;
  cursor: pointer;
}

.sections .section-consultoras .btn-div_consult p {
  position: relative;
  top: 100px;
  font-size: 17px;
  color: #56657F;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}
.sections .section-consultoras .btn-div_consult:hover {
  float: left;
  background-color: #1976D2;
  width: 153px;
  height: 137px;
  border-radius: 10px;
  margin: 113px 0px 0px 22px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.sections .section-consultoras .btn-div_consult:hover .box-icon,
.sections .section-consultoras .btn-div_consult:hover p {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: #FFFFFF;
}

.sections .section-consultoras .contain_section {
  width: 20.8%;
	float: left;
}

.sections .section-consultoras .box-section {
  background-color: #212936;
	width: 148px;
	height: 133px;
  border-radius: 10px;
  margin: 115px 0px 0px 40px;
}
.sections .section-consultoras .box_cart {
  font-size: 70px;
  color: #56657F;
  padding: 20px 35px 0px 30px;
}
.sections .section-consultoras .iconify {
  font-size: 110px;
  color: #56657F;
  padding-left: 25px;
  margin-top: -17px;
  padding: 10px 12px 0px 48px;
}    
.sections .section-consultoras .box-section .number {
  color: #56657F;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 400;
  padding: 0px 5px 0px 16px;
  text-align: center;
} 
.sections .section-consultoras .box-section p {
  font-size: 14px;
  color: #56657F;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  padding: 12px 5px 1px 10px;
  margin-top: -20px;
  text-align: center; 
}

.closeaccount {
  position: fixed;
  width: 21.5%;
  height: 155px;
  top: 400px;
  left: 85px;
  background: #212936;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px #313c4e;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}
.closeaccount.active {
  visibility: visible;
}
.closeaccount .containHeader {
  display: flex;
}
.closeaccount .containHeader h2{
  color: white;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 20px;
  margin: 10px;
}
.closeaccount .containHeader i{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 15px;
  left: 90%;
  cursor: pointer;
}
.closeaccount .containHeader i:hover {
  color: #2196F3;
  font-size: 17px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.closeaccount a {
  display: block;
  position: relative;
  background: #AFBDD1;
  top: 5px;
  width: 90%;
  height: 33px;
  margin: 13px 10px;
  padding: 6px;
  color: black;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 13px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.closeaccount a:hover {
  width: 188px;
  height: 36px;
  color: white;
  margin: 10px 10px;
  background: #1976D2;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.closeaccount.active {
  opacity: 1;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
  animation: movederecha .3s ease-in;
  -webkit-animation: movederecha .3s ease-in;
}

td .btn-icon {
  cursor: pointer;
  font-size: 15px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
td .btn-icon:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}



@keyframes movederecha {
  from {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
}

  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
}
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .containerHeader .search-box {
    left: 53%;
  }

  .sections .containerHeader .devider {
    left: 74%;
  }

  .containerHeader .userItem {
    left: 82%;
  }

  .containerHeader .userimg {
    left: 92%;
  }
}

@media screen and (max-width: 900px) {
  .containerHeader .search-box {
    left: 40%;
  }

  .sections .containerHeader .devider {
    left: 65%;
  }

  .containerHeader .userItem {
    left: 76%;
  }

  .containerHeader .userimg {
    left: 90%;
  }
}

@media screen and (max-width: 850px) {
  .containerHeader .search-box {
    left: 37%;
  }

  .sections .containerHeader .devider {
    left: 64%;
  }

  .containerHeader .userItem {
    left: 76%;
  }

}

@media screen and (max-width: 800px) {
  .containerHeader .search-box {
    left: 34%;
  }

  .sections .containerHeader .devider {
    left: 62%;
  }

}

@media screen and (max-width: 750px) {
  .containerHeader .search-box {
    left: 32%;
  }

}

@media screen and (max-width: 700px) {
  .containerHeader .search-box {
    left: 29%;
  }

}

@media screen and (max-width: 650px) {
  .containerHeader .search-box{
    top: 110px;
    left: 55%;
  }
  .sections .containerHeader .devider {
    visibility: hidden;
  }
  .containerHeader .userItem {
    left: 70%;
  }

  .containerHeader .userimg {
    left: 87%;
  }
}
@media screen and (max-width: 600px) {
  .containerHeader .search-box{
    top: 110px;
    left: 50%;
  }
  .sections .containerHeader .devider {
    visibility: hidden;
  }
  .containerHeader .userItem {
    left: 67%;
  }

  .containerHeader .userimg {
    left: 86%;
  }
}
@media screen and (max-width: 550px) {
  .section-pedidos {
    width: calc(100% - 50px);
  }
  .section-clientes {
    width: calc(100% - 50px);
  }
  .section-campañas {
    width: calc(100% - 50px);
  }
  .section-consultoras {
    width: calc(100% - 50px);
  }
  .section-nosotros {
    width: calc(100% - 50px);
  }
  .containerHeader .search-box{
    top: 110px;
    left: 48%;
  }
  .containerHeader .userItem {
    left: 66%;
  }

  .containerHeader .userimg {
    left: 86%;
  }
}
@media screen and (max-width: 500px) {
  .section-pedidos {
    width: calc(100% - 1px);
  }
  .section-clientes {
    width: calc(100% - 1px);
  }
  .section-campañas {
    width: calc(100% - 1px);
  }
  .section-consultoras {
    width: calc(100% - 1px);
  }
  .section-nosotros {
    width: calc(100% - 1px);
  }
  .containerHeader .search-box{
    top: 110px;
    left: 48%;
  }
  .containerHeader .userItem {
    left: 66%;
  }

  .containerHeader .userimg {
    left: 86%;
  }
}