/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contain_clients {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 400px;
    height: 450px;
    background: #212936;
    box-shadow: 0px 0px 50px 5px #313c4e;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.contain_clients.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.contain_clients .tabclientsHeaders {
    display: flex;
}

.contain_clients .tabclientsHeaders h2 {
    color: white;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
}

.contain_clients .tabclientsHeaders i {
    position: absolute;
    color: white;
    font-size: 15px;
    top: 15px;
    left: 95%;
    cursor: pointer;
}

.contain_clients .tabclientsHeaders i:hover {
    color: #2196F3;
    font-size: 17px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}